<!DOCTYPE html>
<html>

<head>
    <title>Data Baguette</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa Slab One|Righteous">
</head>

<body>
    <div class="cookies">
        <div class="cookiesText">
            <h2>That's pretty simple,</h2>
            <p>There's no cookies.</p>
            <p>No account.</p>
            <p>Nothing.</p>
        </div>
    </div>
</body>