<!DOCTYPE html>
<html>
    <head>
        <title>Data Baguette</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa Slab One|Righteous">
    </head>
    <body>
        <div class="panel" id="panelWhatsup">
            <div class="textInPanel">
                <h2 class="textFirstLine">HEY.</h2>
                <h2 class="textSecondLine">WHAT'S UP?</h2>
                <div class="pseudos">
                    <span>Emeric DYNOMANT - @MrMimic</span>
                </div>
            </div>
        </div>

        <div class="panel" id="panelWannaKnow">
            <div class="panelWannaKnowImage">
                <img src="{{ url_for('static', filename='images/data-driven.png') }}" alt="data-driven-details">
            </div>
            <div class="panelWannaKnowText">
                Wanna know what I'm doing ?
                <div class="WannaKnowContacts">
                    <a href="https://github.com/MrMimic", target="_blank">
                        <img src="https://www.vectorlogo.zone/logos/github/github-tile.svg" alt="github">
                    </a>
                    <a href="https://www.linkedin.com/in/emeric-dynomant/", target="_blank">
                        <img src="https://www.vectorlogo.zone/logos/linkedin/linkedin-tile.svg" alt="linkedin">
                    </a>
                    <a href="https://twitter.com/Mr_Mimic", target="_blank">
                        <img src="https://www.vectorlogo.zone/logos/twitter/twitter-tile.svg" alt="github">
                    </a>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley", target="_blank">
                        <img src="https://raw.githubusercontent.com/AliasIO/wappalyzer/master/src/drivers/webextension/images/icons/TikTok.svg" alt="linkedin">
                    </a>
                </div>
            </div>
        </div>

        <div class="panel" id="panelSureYouDo">
            <div class="textInPanel">
                <h2 class="textFirstLine">SURE</h2>
                <h2 class="textSecondLine">YOU DO.</h2>
            </div>
        </div>

        <div class="panel" id="panelProjects">
            <div class="projectExplainations">
                <h3 id="other-human-price">human-price</h3>
                <p>You've always wanted to know how much chemicals from a human body worth? Did it.</p>
                <p><a href="https://human-price.data-baguette.com/" , target="_blank">human-price.data-baguette.com</a></p>
            </div>
            <div class="projectExplainations">
                <h3 id="other-blog">Data baguette blog</h3>
                <p>A blog, like many, talking about data, like many. But this one is in French, and fun.</p>
                <p><a href="https://blog.data-baguette.com/" , target="_blank">blog.data-baguette.com</a></p>
            </div>
            <div class="projectExplainations">
                <h3 id="other-blog">Questions answering</h3>
                <p>A program that uses Wikipedia and transformers to answer everything. And not just "42".</p>
                <p><a href="https://question-answering.data-baguette.com//" , target="_blank">question-answering.data-baguette.com</a></p>
            </div>
        </div>

        <div class="panel" id="panelSeeYou">
            <div class="textInPanel">
                <h2 class="textFirstLine">SEE YOU</h2>
                <h2 class="textSecondLine">SOON.</h2>
            </div>
        </div>
    </body>
    <footer>
        <div class="About">
            <a href="{{ about_adress }}" target="_blank">
                About
            </a>
        </div>
        <div class="RGPD">
            <a href="{{ cookies_adress }}" target="_blank">
                Cookies
            </a>
        </div>
        <div class="Contact" target="_blank">
            <a href="mailto:{{ contact_email  }}?subject=Contact from data-baguette home">
                Contact
            </a>
        </div>
    </footer>
</html>