body, html {
    margin: 0px;
    padding: 0px;
}

/* GENERIC PANEL */

.panel {
    width: 100vw;
    height: 75vh;
    border: 3px;
    box-sizing: border-box;
    max-width: 100%;
}

/* TEXT PANEL RELATED */

h2 {
    margin: 0px;
    text-align: center;
}

.textInPanel {
    width: 100%;
}


/* WHATSUP */

#panelWhatsup {
    background-color: #ddcfbe;
    width: 100vw;
    font-size: 8vw;
    font-family: Alfa Slab One;
    vertical-align: baseline;
}

/* WANNA KNOW */

#panelWannaKnow {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(84, 178, 255, 100) 0%, rgba(221,207,190,1) 97%, rgba(221,207,190,1) 100%);
    display: flex;
}

.panelWannaKnowImage img {
    width: 15vw;
    margin-left: 5vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: -50vh;
}

.panelWannaKnowText {
    margin-left: 5vw;
    font-family: Righteous;
    font-size: 6vw;
    display: block;
}

.WannaKnowContacts {
    display: block;
    text-align: center;
}

.WannaKnowContacts img {
    width: 10vw;
    margin-top: 5vh;
}

/* SURE YOU DO */

#panelSureYouDo {
    background-color: rgb(84, 178, 255, 100);
    width: 100vw;
    font-size: 8vw;
    font-family: Alfa Slab One;
    vertical-align: baseline;
}

/* PROJECTS */

#panelProjects {
    background: linear-gradient(0deg, rgba(221, 207, 190, 1) 0%, rgba(84, 178, 255, 100) 97%, rgba(84, 178, 255, 100) 100%);
    display: inline-block;
    height: 100vh;
}

#panelProjects .projectExplainations {
    margin-left: 5vw;
    font-family: Righteous;
    font-size: 16pt;
    margin-bottom: 8vh;
}

/* SEE YOU */

#panelSeeYou {
    background-color: #ddcfbe;
    width: 100vw;
    font-size: 8vw;
    font-family: Alfa Slab One;
    vertical-align: baseline;
}

/* FOOTER */

footer {
    display: flex;
    background : #ddcfbe;
    font-family: Righteous;
}

footer div {
    margin-left: 20vw;
    margin-bottom: 5vw;
    margin-top : 5vw;
    color: rgb(0, 0, 0);
    font-size: 1.5vw
}