body, html {
    margin: 0px;
    padding: 0px;
}

/* GENERIC PANEL */

.panel {
    width: 100vw;
    height: 75vh;
    border: 3px;
    box-sizing: border-box;
    max-width: 100%;
    border-left: 1vw solid rgb(173, 173, 173);
    border-right: 1vw solid rgb(173, 173, 173);
    border-left-style: ridge;
    border-right-style: ridge;
}

/* TEXT PANEL RELATED */

h2 {
    margin: 0px;
    text-align: center;
}

.textInPanel {
    width: 100%;
}


/* WHATSUP */

#panelWhatsup {
    border-top: 1vw solid rgb(173, 173, 173);
    border-top-style: ridge;
    background-color: #ddcfbe;
    width: 100vw;
    font-size: 6vw;
    font-family: Alfa Slab One;
    vertical-align: baseline;
    height: 90vh;

}

#panelWhatsup .textInPanel .pseudos {
    font-size: 2vw;
    text-align: right;
    width: 100vw;
    margin-top: 6vw;
}

#panelWhatsup .textInPanel .pseudos span {
    margin-right: 5vw;
}

/* WANNA KNOW */

#panelWannaKnow {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(84, 178, 255, 100) 0%, rgba(221,207,190,1) 97%, rgba(221,207,190,1) 100%);
    display: flex;
}

.panelWannaKnowImage img {
    width: 10vw;
    margin-left: 5vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: -50vh;
}

.panelWannaKnowText {
    margin-left: 5vw;
    margin-top: 5vw;
    font-family: Righteous;
    font-size: 5vw;
    display: block;
}

.WannaKnowContacts {
    margin-top: 6vh;
    font-size: 6vh;
}


.panelWannaKnowText a {
    text-decoration: none;
}


.WannaKnowContacts {
    display: block;
    text-align: center;
}

.WannaKnowContacts img {
    width: 5vw;
    margin-top: 5vh;
    margin-right: 6vh;
}

/* SURE YOU DO */

#panelSureYouDo {
    background-color: rgb(84, 178, 255, 100);
    width: 100vw;
    font-size: 6vw;
    font-family: Alfa Slab One;
    vertical-align: baseline;
}

/* PROJECTS */

#panelProjects {
    background: linear-gradient(0deg, rgba(221, 207, 190, 1) 0%, rgba(84, 178, 255, 100) 97%, rgba(84, 178, 255, 100) 100%);
    display: inline-block;
    height: 130vh;
}

#panelProjects .projectExplainations {
    margin-left: 5vw;
    font-family: Righteous;
    font-size: 16pt;
    margin-bottom: 8vh;
}

.projectExplainations a {
    margin-left: 5vw;
}


/* SEE YOU */

#panelSeeYou {
    background-color: #ddcfbe;
    width: 100vw;
    font-size: 6vw;
    font-family: Alfa Slab One;
    vertical-align: baseline;
    height: 60vh;

}

/* FOOTER */

footer {
    border-left: 1vw solid rgb(173, 173, 173);
    border-right: 1vw solid rgb(173, 173, 173);
    border-bottom: 1vw solid rgb(173, 173, 173);
    border-right-style: ridge;
    border-left-style: ridge;
    border-bottom-style: ridge;
    display: flex;
    background : #ddcfbe;
    font-family: Righteous;
}

footer div {
    margin-left: 20vw;
    margin-bottom: 5vw;
    margin-top : 5vw;
    color: rgb(0, 0, 0);
    font-size: 1.5vw
}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* ABOUT */

.about {
    background-color: #ddcfbe;
    height: 100vh;
    width: 100vw;
    border: 1vw solid rgb(173, 173, 173);
    border-style: ridge;
    box-sizing: border-box;
    text-align: center;
}

.about h2 {
    font-size: 6vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.about p {
    font-size: 3vw;
}

/* COOKIES */

.cookies {
    background-color: #ddcfbe;
    height: 100vh;
    width: 100vw;
    border: 1vw solid rgb(173, 173, 173);
    border-style: ridge;
    box-sizing: border-box;
    text-align: center;
}

.cookies h2 {
    font-size: 6vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.cookies p {
    font-size: 3vw;
}