body, html {
    margin: 0px;
    padding: 0px;
}

/* MENU */

.menuBar {
    background-color: #363636;
    width: 20vw;
    color: #bda8ab;
    z-index: 10;
}

.menuBar img {
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
}

.menuBar a {
    color: #bda8ab;
}

.menuBar h3 {
    text-align: center;
    font-family: Righteous;
}

/* GENERIC PANEL */

.panel {
    width: 100vw;
    height: 100vh;
    border: 3px;
    box-sizing: border-box;
    max-width: 100%;
    display: flex; 
}

/* TEXT PANEL RELATED */

h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
}

.textInPanel {
    margin-top: 4%;
}

/* HEADER PANEL */

#panelHeader {
    background-color: #ffffff;
    display: block;
}

#panelHeader::before {
    content: "";
    background: url(../images/baguette.svg) no-repeat center center;
    background-size: cover;
    position: absolute;
    background-size: 50%;
    top: 0vh;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;  
}

#panelHeader title {
    font-family: Righteous;
    z-index:1;
}

#panelHeader h1 {
    font-size: 20vh;
    text-align: center;
}

#panelHeader h2 {
    font-size: 7vh;
    text-align: right;
    margin-right: 8vw;
}

#panelHeader h3 {
    font-size: 6vh;
    text-align: right;
    margin-right: 12vw;
    margin-top: 35vh;
}

/* DATA DRIVEN PANELS */

#panelTextDataDriven {
    background-color: #ddcfbe;
    font-size: 7.5vw;
    font-family: Montserrat Subrayada;
}

#panelTextDataDriven .textFirstLine {
    margin-left: 14vw;
}

#panelTextDataDriven .textSecondLine {
    margin-left: 50vw;
}

#panelTextDataDriven .textThirdLine {
    margin-left: 20vw;
}

#panelDetailsDataDriven {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,100) 0%, rgba(221,207,190,1) 97%, rgba(221,207,190,1) 100%);
}

.panelDetailsDataDrivenImage img {
    width: 15vw;
    margin-left: 5vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 10vh;
}

.panelDetailsDataDrivenText {
    margin-left: 5vw;
    font-family: Righteous;
    font-size: 1.5vw;
    display: flex;
}

.panelDetailsDataDrivenText div {
    margin-bottom: 4vw;
    width: 24vw;
}

.panelDetailsDataDrivenText h3 {
    text-align: center;
    font-size: 3vw;
}

.panelDetailsDataDrivenText li {
    margin: 1.5vw;
    list-style: none;
}

.panelDetailsDataDrivenTextExperience {
    margin-top: 30vh;
}

.panelDetailsDataDrivenTextExperience img {
    width: 1.5vw;
}

.panelDetailsDataDrivenTextExperience h4 {
    font-size: 2.2vw;
    text-align: center;
}

.panelDetailsDataDrivenTextCompetences {
    margin-top: 15vh;
    border-top: 5px solid #363636;
    border-left: 1px solid #363636;
    border-right: 5px solid #363636;
}

.panelDetailsDataDrivenTextCompetences h4 {
    margin-left: 0.5vw;
    font-size: 1.5vw;
}

.panelDetailsDataDrivenTextCompetences li {
    margin: 0.1vh;
}

.panelDetailsDataDrivenTextCompetences .level-1 {
    font-size: 1.2vw;
}

.panelDetailsDataDrivenTextCompetences .level-2 {
    font-size: 1vw;
}

.panelDetailsDataDrivenTextCompetences .level-3 {
    font-size: 0.8vw;
}

.panelDetailsDataDrivenTextCompetences img {
    margin: auto;
    width: 4.5vw;
}

.panelDetailsDataDrivenTextMoa {
    margin-top: 45vh;
}

.panelDetailsDataDrivenTextMoa h4 {
    margin-left: 5vh;
    text-align: center;
}

.panelDetailsDataDrivenTextMoa img {
    width: 20vw;
    margin-left: 3vw;
    margin-right: auto;
}

/* DEVOPS PANEL */

#panelTextDevops {
    background-color: #ffffff;
    font-size: 750%;
    font-family: Montserrat Subrayada;
}

#panelTextDevops .textFirstLine {
    margin-left: 4vw;
}

#panelTextDevops .textSecondLine {
    margin-left: 30vw;
}

#panelTextDevops .textThirdLine {
    margin-left: 10vw;
}

#panelDetailsDevops {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(142,141,177,1) 97%, rgba(142,141,177,1) 100%);
}

.panelDetailsDevopsImage img {
    width: 30vw;
    margin-left: 10vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 5vh;
    margin-right: 5vh;
}

.panelDetailsDevopsText {
    margin-left: 5vw;
    font-family: Righteous;
    font-size: 150%;
}

.panelDetailsDevopsText div {
    margin-bottom: 4vw;
}

.panelDetailsDevopsText li {
    margin: 1.5vw;
}

/* SOFT SKILLS PANEL */

#panelTextSoftSkills {
    background-color: #8e8db1;
    font-size: 750%;
    font-family: Montserrat Subrayada;
}

#panelTextSoftSkills .textFirstLine {
    margin-left: 2vw;
}

#panelTextSoftSkills .textSecondLine {
    margin-left: 40vw;
}

#panelTextSoftSkills .textThirdLine {
    margin-left: 10vw;
}
#panelDetailsSoftSkills {
    background-color: #8e8db1;
}

.panelDetailsSoftSkillsImage img {
    width: 10vw;
    margin-left: 10vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 5vh;
}

.panelDetailsSoftSkillsText {
    margin-left: 5vw;
    font-family: Righteous;
    font-size: 150%;
}

.panelDetailsSoftSkillsText div {
    margin-bottom: 4vw;
}

.panelDetailsSoftSkillsText li {
    margin: 1.5vw;
}

/* PANEL OTHERS */

#panelOthers {
    background-color: #ffffff;
    display: block;
}